a{
	color: #3599DB;
}

pre {
	background: #ffffff
}

body{
	background: #f9fafe
}

#sidebar{
	background-color: #ffffff;
}

.tabs-nav{
	background: #ffffff;
	border-radius: 3px;

}

.tabs-nav li a{
	color: #555;
}

.tabs-nav li.current a{
	color: #3599DB;
	font-weight: inherit!important;
	border-bottom: 1px solid #3599DB!important;
}

.tabs-wrapper .tab{
	border-top: 1px solid #C5CFD4;
}
